.listItem {
    width: 100%;
    height: 10%;
    padding: 5px;
    float: left;
    border: 1px solid gray;
    cursor: pointer;
}

.listItem:hover {
    background-color: #7EAFA1;
}
.listItem.is-selected {
    background-color: #7EAFA1;
    color: white;
}

.listItem.de-searched {
    display: none;
    visibility: hidden;
}
