#dashboard-view {
    /* background-color: black; */
    height: 90%;
}

#asset-view {
    /* background-color: blue; */
    height: 90%;
    
}

#report-view {
   /*  background-color: chartreuse; */
   height: 90%;
}

.kpi{
    min-width: 200px;
    min-height: 200px;
}