#nav-bar {
    width: 100%;
    height: 5%;
    background-color: #333435;
    color: #fff;
}

.nav-button {
    display: block;
    text-align: center;
    cursor: pointer;
    height: 100%;
}

.nav-button.is-selected {
    color: #7EAFA1;
    border-bottom: 2px solid #7EAFA1;
}

.nav-view {
    /* Hide */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-20px);
    transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
    display: none;
}

.nav-view.is-shown {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
    display: block;

}

#dashboard-nav {
    
}

#asset-nav {
    
}

#report-nav {
    
}