.side-bar {
    height: 100%; 
    background-color: #ffffff;
    padding: 0;
    border-right: 1px solid #979CA1;
    min-width: 200px;
}

#newAssetButton {
    text-align: center;
    background-color: black;
    cursor: pointer; 
    color: #ffffff;
    padding: 5px;
    height: 5%;
}

#assetList {
    overflow-y: auto;
    padding: 0;
    height: 90%;
}
#searchDiv {
    padding: 5px;
    height: 5%;
}